{% extends "../layouts/base.html" %}
{% block title %}Home{% end %}
{% block body %}
<div class="container">
	<div class="row mt">
        {% if not me.first_name and not me.last_name %}
        <div class="row">    
            <br>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Please update your name <a href="/setting">Account Setting</a>
            </div>
        </div>
        {% end %}

        <div class="row centered">
            <br>
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus"></span> <a href="http://192.168.33.11:9181">rq-dashboard</a>
            </button>
        </div>

        <!--/stories-->
    </div><!-- /row -->
</div><!-- /container -->
{% end %}
