{% extends "../layouts/base.html" %}
{% block body %}

<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Signup</h1>
                <form class="form-inline" role="form" action="/signup" method="post">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Enter your email address.">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Send</button>
                    {% raw xsrf_form_html() %}
                </form>					
            </div><!-- /col-lg-6 -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /headerwrap -->

{% end %}
