{% extends "../layouts/base.html" %}
{% block body %}

<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>あああああ<br>いいいいい？</h1>
                <form class="form-inline" role="form" action="/signup" method="post">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="メールアドレスを入力">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">登録</button>
                    {% raw xsrf_form_html() %}
                </form>					
            </div><!-- /col-lg-6 -->
            <div class="col-lg-6">
                <img class="img-responsive" src="{{static_url("assets/img/ipad-hand.png")}}" alt="">
            </div><!-- /col-lg-6 -->

        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /headerwrap -->

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h2>あああああ？</h2>
            <h3>いいいいいい</h3>
        </div>
    </div><!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4">
            <img src="{{static_url("assets/img/ser01.png")}}" width="180" alt="">
            <h4>1 - あああああ</h4>
            <p>うううううう</p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="{{static_url("assets/img/ser02.png")}}" width="180" alt="">
            <h4>2 - あああああ</h4>
            <p>うううううう</p>

        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="{{static_url("assets/img/ser03.png")}}" width="180" alt="">
            <h4>3 - あああああ</h4>
            <p>うううううう</p>

        </div><!--/col-lg-4 -->
    </div><!-- /row -->
</div><!-- /container -->

{% include "parts/signup.html" %}

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h2>ああああああああああああああああ</h2>
            <h3>
                ええええええええええええええ<br>
            </h3>
        </div>
    </div><!-- /row -->

    <! -- CAROUSEL -->
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{static_url("assets/img/p01.png")}}" alt="">
                    </div>
                    <div class="item">
                        <img src="{{static_url("assets/img/p02.png")}}" alt="">
                    </div>
                    <div class="item">
                        <img src="{{static_url("assets/img/p03.png")}}" alt="">
                    </div>
                </div>
            </div>			
        </div><!-- /col-lg-8 -->
    </div><!-- /row -->
</div><! --/container -->

{% include "parts/signup.html" %}

{% end %}
