{% extends "../layouts/base.html" %}
{% block title %}Thanks!{% end %}
{% block css %}<link href="{{static_url("assets/css/form.css")}}" rel="stylesheet">{% end %}
{% block body %}
<div id="headerwrap" class="max-height">
    <div class="container">
        <div class="row mt centered">
            <form class="form-form" role="form" action="/home">
                <h1>Thanks!<br>Signup compleated.</h1>
                <button type="submit" class="btn btn-warning btn-lg">Start</button>
            </form>					
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /headerwrap -->
{% end %}

