{% extends "../layouts/base.html" %}
{% block title %}Login{% end %}
{% block css %}<link href="{{static_url("assets/css/form.css")}}" rel="stylesheet">{% end %}
{% block head_js %}
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="{{static_url("assets/js/ie8-responsive-file-warning.js")}}"></script><![endif]-->
<script src="{{static_url("assets/js/ie-emulation-modes-warning.js")}}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{static_url("assets/js/ie10-viewport-bug-workaround.js")}}"></script>
{% end %}
{% block body %}
<div id="headerwrap" class="max-height">
    <div class="container">
        <div class="row mt">
            <form class="form-form" role="form" method="post">
                <h1>Login</h1>
                {% module Errors(errors) %}
                <div class="form-group">
                    <input type="email" name="email" value="{{ email }}" class="form-control" placeholder="Enter your email." required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="Enter password." required>
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Login</button>
                {% raw xsrf_form_html() %}
            </form>					
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /headerwrap -->
{% end %}
