{% extends "../layouts/base.html" %}
{% block title %}Password{% end %}
{% block css %}<link href="{{static_url("assets/css/form.css")}}" rel="stylesheet">{% end %}
{% block body %}
<div id="headerwrap" class="max-height">
    <div class="container">
        <div class="row mt">
            <form class="form-form" role="form" action="/password" method="post">
                <h1>Enter password <br>and complete signup.</h1>
                {% module Errors(errors) %}
                <input type="password" name="password" class="form-control" placeholder="6 to 32 chars" required autofocus>
                <input type="hidden" name="email" value="{{ email }}">
                <button type="submit" class="btn btn-warning btn-lg">Done</button>
                {% raw xsrf_form_html() %}
            </form>					
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /headerwrap -->
{% end %}

