{% extends "../layouts/base.html" %}
{% block title %}パスワード設定{% end %}
{% block css %}<link href="{{static_url("assets/css/form.css")}}" rel="stylesheet">{% end %}
{% block body %}
<div id="headerwrap" class="max-height">
    <div class="container">
        <div class="row mt">
            <form class="form-form" role="form" action="/password" method="post">
                <h1>パスワードを入力し<br>登録を完了してください</h1>
                {% module Errors(errors) %}
                <input type="password" name="password" class="form-control" placeholder="英数6文字以上32文字以内" required autofocus>
                <input type="hidden" name="email" value="{{ email }}">
                <button type="submit" class="btn btn-warning btn-lg">完了</button>
                {% raw xsrf_form_html() %}
            </form>					
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /headerwrap -->
{% end %}

